<h1>Läufe für <%= @regatta.name %></h1>

<div class="row">
  <div class="col-md-8 col-lg-9">
    <%= render 'list', races: @races %>
  </div>
  <div class="col-md-4 col-lg-3">
    <%= link_to t('helpers.titles.new', model: Race.model_name.human), new_internal_race_path(@regatta), class: 'btn btn-secondary d-block my-1' %>
  </div>
</div>