<h1><%= ExternalMeasurement.model_name.human(count: 2) %></h1>

<table class="table">
  <thead>
  <tr>
    <th>Messpunkt</th>
    <th>Zeit</th>
  </tr>
  </thead>
  <tbody>
  <% @external_measurements.each do |external_measurement| %>
    <tr>
      <td><%= external_measurement.measuring_point&.name || "Nr: #{external_measurement.measuring_point_number.inspect}" %></td>
      <td><%= external_measurement.time || "-" %></td>
    </tr>
  <% end %>
  </tbody>
</table>