
<% @status.each do |k, v| %>
  <div class="card mb-4 <%= v.delete(:failure)  ? 'text-white bg-danger' : '' %>">
    <div class="card-header">
  <h3><%= k %></h3>
    </div>
  <dl class="card-body multi-coulmn">
    <% v.each do |k2, v2| %>
      <dt><%= k2 %></dt>
      <dd><%= v2.presence || '-' %></dd>
    <% end %>
  </dl>
  </div>
<% end %>

<script>
  setTimeout(reloadWithTurbolinks, 10000)
</script>
