@import "bootstrap";
@import "results";
@import "../components/auto-grid/auto-grid";
@import "../components/dialog-opener/dialog-opener";
@import "../components/weighings-rower-list/weighings-rower-list";

html, :root {
  scroll-behavior: auto;
}

[id] {
  scroll-margin-top: 30px;
}

body.internal {
  background: #fff9f9;

  nav.navbar {
    background: #5e0403 !important;
  }
}

.regatta-header {
  @media only print {
    padding-left: 0;
    background-color: unset;
  }
}

@media print {
  @page {
    margin: 0;
  }
}


.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}

a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

.withdrawn, .disqualified {
  text-decoration: line-through;
}

tr.withdrawn td, tr.disqualified td {
  background-color: #ffe0e0;
}

.late_entry {
  font-style: italic;
}

.highlight-flash {
  animation: flash-bright 1s ease-out;
}

@keyframes flash-bright {
  0%   { filter: brightness(1) contrast(1); }
  50%  { filter: brightness(0.8) contrast(0.8); }
  100% { filter: brightness(1) contrast(1); }
}

.multi-column {
  column-gap: 3em;
  column-count: 2;
  @media (min-width: map-get($grid-breakpoints, "lg")) {
    column-count: 4;
  }
}

form.button_to {
  display: inline;
}
