/*
*= require dragula
*/

.item_list {
  flex: 1;
  border: 1px solid #999;
  min-height: 100px;
  font-size: 0.9rem;

  &__item{
    border-bottom: 1px solid #999;
    padding: 0.5em;
    height: 2.5rem;

    .btn {
      padding: 0 0.5rem;
    }
  }
}

.time {
  font-family: "Source Code Pro", Monaco, monospace;
}

.participants_and_times {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(100px, auto);
  > div {
    display: flex;
    flex-direction: column;
  }

}