<div class="bg-light px-3 py-2 my-2 border regatta-header">
  <h2><%= @regatta.name %></h2>
  <% if @regatta.from_date %>
  <p class="lead">
    Von <%= l(@regatta.from_date, format: '%a, %d.%m.') %>
    <% if @regatta.to_date %>
      bis <%= l(@regatta.to_date, format: '%a, %d.%m.%Y') %>
    <% end %>
  </p>
  <% end %>
</div>

<% if @regatta.year < DateTime.now.year && @regatta.id != Parameter.current_regatta_id %>
  <p class="alert alert-info">
    Sie betrachten eine vergangene Regatta. Die Aktuelle Regatta finden Sie
    <%= link_to "hier", url_for(new_regatta_id: Parameter.current_regatta_id) %>.
  </p>
<% end %>