<div class="jumbotron py-2">
  <h2><%= @regatta.name %></h2>
  <p class="lead">
    Von <%= l(@regatta.from_date, format: '%a, %d.%m.') %> bis <%= l(@regatta.to_date, format: '%a, %d.%m.%Y') %>
  </p>
</div>