<div class="d-flex gap-2 py-1 border-bottom fw-bold small text-body-secondary mt-2">
  <div class="text-end text-nowrap" style="min-width:2.5rem">Bugnr</div>
  <div class="text-nowrap" style="min-width:2.5rem">Land</div>
  <div class="flex-grow-1">Teamname / Ruderer</div>
</div>
