<div class="no-print mb-2 text-end">
  <print-button paged-css-url="<%= asset_path('pagedjs_print.css') %>">
    <button type="button" class="btn btn-sm btn-outline-secondary">Drucken</button>
  </print-button>
</div>
