<%
  race_types_summary = event.races.
    select(&:planned_for).sort_by(&:planned_for).group_by(&:type_short). # groups and races are both sorted correctly by planned_for
    map do |ts, races|
    times_str = (local_assigns[:first_start_time_only] ? [races.first] : races).
      group_by { |r| r.planned_for.to_date }.
      map { |_, day_races| "#{l(day_races.first.planned_for, format: '%a.')} #{day_races.map { |r| l(r.planned_for, format: '%-H:%M') }.join(', ')}" }.
      join(' / ')
    "#{Parameter.race_type_name(ts, pluralize: races.size > 1)}: #{times_str}"
  end
%>
<% if race_types_summary.any? %>
  <p class="small text-body-secondary mb-2"><%= safe_join(race_types_summary, ' &middot; '.html_safe) %></p>
<% end %>
