<h1>Mess-Sitzung bearbeiten</h1>
<%= bootstrap_form_with model: @measuring_session, url: measuring_session_url(@regatta, @measuring_session) do |f| %>
  <%= render 'form_fields', f: f %>

  <%= f.button 'Speichern', type: :submit, class: 'btn btn-primary' %>
<% end %>

<script>
    cancelAutoreload()
</script>